.counter {
  color: #000;
  background: linear-gradient(180deg, #ffbb3b, #ffa90a);
  padding: 0.4em 2em;
  border: none;
  border-radius: 0.4em;
  text-transform: uppercase;
}

.counter:hover {
  filter: brightness(75%) saturate(120%);
}
.counter:active {
  transform: scale(0.99);
}
